*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*
#contact-us-section{
    padding-top:15%;
}
.contact-from-header{
    font-weight: bold;
    margin-left: 15%;
    font-size: 2em;
    text-align: center;
    
}
.contact-heading {
    margin-left: 15%;
    font-size: 3em;
    font-family: Verdana;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}
.background-img {
    background-image: url('/images/offSeason.jpg'); 
    height: 100vh; 
}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    width:150%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #1B9AAA;
    font-size: 15px;
}


#contact-button{
    
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    border-style: none;
    font-size: 30px;
    color:#808080;
    background-color:white;
    margin-top:0;
    
}


#logo-vacay{
    padding: 5%;
    
    list-style: none;
}

#fullname{
    margin-bottom:2%;
}
#emailaddress{
    margin-bottom:2%;
}
#phonenumber{
    margin-bottom:2%;
}
#packetinformation
{
    margin-bottom:2%;
}

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}*/



.background-img {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/images/offSeason.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    transition: 0.5s ease;
    backdrop-filter: blur(4px);
}
.navigation-items.scrolled {
    color: black;
}
header .brand{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

header.navigation{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

header .navigation .navigation-items a{
    position: relative;
    color:white;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration:none;
    padding: 0 15px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
    border-left: 10px solid black;


}

header .navigation .navigation-items a:hover {
    text-decoration: underline;
    top: -2px;
}

section{
   
    padding: 0 150px;
}








/*

.brand{
    color: #f3c0b1;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px;
}

nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
}
nav img{
    width: 150px;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}
.container .navbar {
    width: 100%;
    padding: 25px 0;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000; 
}
.navbar.scrolled {
    background-color: black;
  }

.text-box{
    width: 40%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
*/
.contact-us{
width: 80%;
margin: auto;
}
.contact-col{
    padding: 50px;
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: white;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h3{
    font-size: 20px ;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
