#contact-us-section{
    padding-top:15%;
}
.contact-from-header{
    font-weight: bold;
    margin-left: 15%;
    font-size: 2em;
    text-align: center;
    
}
.contact-heading {
    margin-left: 15%;
    font-size: 3em;
    font-family: Verdana;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    width:150%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #1B9AAA;
    font-size: 15px;
}


#contact-button{
    
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    border-style: none;
    font-size: 30px;
    color:#808080;
    background-color:white;
    margin-top:0;
    
}


#logo-vacay{
    padding: 5%;
    
    list-style: none;
}

#fullname{
    margin-bottom:2%;
}
#emailaddress{
    margin-bottom:2%;
}
#phonenumber{
    margin-bottom:2%;
}
#packetinformation
{
    margin-bottom:2%;
}

.viola img{
    width: 600px; 
    height: 500px; 
    
}