
header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 150px;
  transition: 0.5s ease;
  backdrop-filter: blur(4px);
}

header .brand{
  color: #efece8;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

header.navigation{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(135, 132, 132);
}

header .navigation .navigation-items a{
  position: relative;
  color:#141110;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration:none;
  padding: 0 15px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  border-left: 10px solid rgb(237, 233, 233);


}

header .navigation .navigation-items a:hover {
  text-decoration: underline;
  top: -2px;
}


.hero {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 800px;
  text-align: center;
  padding-top: 125px;
}

.hero-title {
  color: white;
  font-size: 30px;
  margin-bottom: 20px; }

.hero-text {
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container{
  display: flex;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

#active{
  margin-top: 30px;
  font: 15px;
  color:lightseagreen;
}

.left-div {
  flex: 1;
  padding: 20px;
}

.right-div {
  flex: 1;
  padding: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  text-align: left;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.content{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .content .card{
  background: #fff;
  width: calc(33% - 20px);
  text-align: center;
  padding: 15px 30px  30px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.content .card .top{
  height: 130px;
  color: #fff;
  padding: 12px 0 0 0 ;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
}
.content .card .top .title{
 font-size: 27px;
 font-weight: 600;
}
.content .card .top .price-sec{
  margin-top: -10px;
  font-weight: 600;
}
.content .card .top .price{
  font-size: 45px;
}
.content .card .info{
  font-size: 16px;
  margin-top: 20px;
}
.content .card .details .one{
  margin-top: 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content .card .details .one::before{
  position: absolute;
  content: "";
  width: 100%;
  background: #ddd;
  height: 1px;
  left: 0;
  top: -12px;
  border-radius: 25px;
}
.content .card .details .one i{
  color: #2db94d;
}
.content .card .details i.fa-times{
  color: #cd3241;
}
.content .card button{
  outline: none;
  border: none;
  height: 42px;
  color: #fff;
  margin-top: 30px;
  border-radius: 3px;
  font-size: 18px;
  width: 100%;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
}
.content .one .top,
.content .one button{
  background: #117e3e;
}
.content .two .top,
.content .two button{
  background: #b44d16;
}
.content .three .top,
.content .three button{
  background: #157f83;
}
.content button:hover {
  filter: brightness(90%);
}
.content .one ::selection{
background: #8af5b6;
}
.content .two ::selection{
background:  #f2b08c;
}
.content .three ::selection{
background: #d0f9fb;
}
@media (max-width:1000px) {
   .content .card{
    background: #fff;
    width: calc(50% - 20px);
    margin-bottom: 30px;
}
}
@media (max-width:715px) {
 .content .card{
    width: 100%;
}
}

.footer {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
  background-size: cover;
  
}



.first {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
}

  .first h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: #fff;
      padding-bottom: 0.5em;
  }

      .first h4::after {
          content: '';
          background: #66c83d;
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
      }

  .first p {
      font-size: 14px;
  }

.second {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second2 {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em;
}

  .second h4::after {
      content: '';
      background: #66c83d;
      width: 20%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 40%;
  }


.second li {
  list-style: none;
  padding-bottom: 30px;
}

.second a, .second2 a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

  .second a:hover, .second2 a:hover {
      color: #fff;
      transition: 0.2s;
      text-shadow: 1px 1px 20px rgba(0,0,0,1);
      text-decoration: none

  }



.third {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: right;
}


  .third h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: #fff;
      padding-bottom: 0.5em;
  }


      .third h4::after {
          content: '';
          background: #66c83d;
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 80%;
      }



  .third li {
      list-style: none;
      padding-bottom: 15px;
  }


  .third a {
      color: rgb(206, 206, 206);
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;
      transition: 0.2s;
  }


  .third a:hover {
      color: #fff;
          transition: 0.2s;
          text-shadow: 1px 1px 20px rgba(0,0,0,1);
      }
