
header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 150px;
  transition: 0.5s ease;
  backdrop-filter: blur(4px);
}

header .brand{
  color: #efece8;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

header.navigation{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(135, 132, 132);
}

header .navigation .navigation-items a{
  position: relative;
  color:#141110;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration:none;
  padding: 0 15px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  border-left: 10px solid rgb(237, 233, 233);


}

header .navigation .navigation-items a:hover {
  text-decoration: underline;
  top: -2px;
}


.hero {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 800px;
  text-align: center;
  padding-top: 125px;
}

.hero-title {
  color: white;
  font-size: 30px;
  margin-bottom: 20px; }

.hero-text {
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container{
  display: flex;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

#active{
  margin-top: 30px;
  font: 15px;
  color:lightseagreen;
}

.left-div {
  flex: 1;
  background-color: #e0e0e0;
  padding: 20px;
}

.right-div {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
}